<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-2 flex flex-col gap-3">
  <app-input-text-form
    [control]="email"
    [type]="'email'"
    [label]="'Email'"
    [errorMessage]="validationMessages.email"
  ></app-input-text-form>

  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
    <app-input-text-form
      [control]="firstName"
      [label]="'First Name'"
      [errorMessage]="validationMessages.firstName"
    ></app-input-text-form>

    <app-input-text-form
      [control]="lastName"
      [label]="'Last Name'"
      [errorMessage]="validationMessages.lastName"
    ></app-input-text-form>
  </div>

  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
    <app-input-phone-form
      [control]="phone"
      [label]="'Phone'"
      [errorMessage]="validationMessages.phone"
    ></app-input-phone-form>

    <app-input-date-form
      [control]="birthDay"
      [label]="'Birthday'"
      [errorMessage]="validationMessages.birthDay"
    >
    </app-input-date-form>
  </div>

  <div class="flex justify-end gap-3">
    <p-button
      type="button"
      [label]="'Cancel'"
      variant="text"
      severity="secondary"
      (onClick)="onCancel()"
    ></p-button>

    <p-button
      type="submit"
      [label]="'Submit'"
      [loading]="isLoading()"
      [disabled]="form.invalid"
    ></p-button>
  </div>
</form>
